@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @{ 
        var welcome = "Here is the server time";
        DateTime current = DateTime.Now;
        var welcomeMessage = welcome + current;
    }
    <p>@welcomeMessage</p>
</div>

